.ticket-icon {
  height: 16.5rem;
  margin-top: 2.5rem;
  position: relative;
  border-radius: 0.4rem;
  height: 23rem;
  position: relative;
  margin: -1rem -1.5rem -1.5rem -1.5rem;
  background: #eee;
  cursor: pointer;
  color: #a2a2a2;
  @include transition(color 200ms ease-out);
  display: block;
  font-weight: normal;
  img {
    max-width: 100%;
    max-height: 22rem;
  }
  &:hover {
    color: $link-color;
    &:before {
      border-color: $link-color;
    }
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 1.5rem;
    left: 1.5rem;
    bottom: 1.5rem;
    right: 1.5rem;
    border: 2px dashed;
    border-color: #ccc;
    border-radius: 0.4rem;
    @include transition(border-color 200ms ease-out);
  }
}

