$body-bg: rgb(236, 241, 247);
$green-base: #34a582;
$orange-base: #D86300;
$blue-base: #3da1dd;
$gray-superlight: #fdfdfd;
$bg-colors: (
  ('white', #ffffff),
  ('body', $body-bg),
  ('light', #e5e5e5),
  ('dark', rgb(63,76,91)),
  ('lightblue', rgb(206,226,249)),
);

$text-colors: (
  ('light', #ccc),
  ('white', white),
);
$border-colors: (
  ('light', #eee),
);
