$header-height: 4rem;
$border-radius-base: 0;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;
$btn-border-radius-base:         2px;
$btn-border-radius-large:        $btn-border-radius-base;
$btn-border-radius-small:        $btn-border-radius-base;
$input-border-radius:            $border-radius-base;
$input-border-radius-large:      $border-radius-base;
$input-border-radius-small:      $border-radius-base;
$navbar-border-radius:           $border-radius-base;
$nav-pills-border-radius:                   $border-radius-base;
$alert-border-radius:         $border-radius-base;
$progress-border-radius:      $border-radius-base;
$panel-border-radius:         $border-radius-base;
