html, body {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
} 
.header {
  height: $header-height;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: rgb(111, 148, 187);
  z-index: 1;
  color: rgba(white, 0.9);
  a {
    color: rgba(white, 0.9);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}
.content {
  padding: 0 0 0 0;
  display: block;
  width: 100%;
  float: left;
  height: 100%;
  overflow: auto;
  &:before {
    content: '';
    display: block;
    height: $header-height;
    width: 100%;
  }
}
.main {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
} 
