.link {
  &-base {
    &, &:hover, &:focus {
      color: inherit;
      text-decoration: none;
    }
  }
  &-inherit {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $link-color;
    }
  }
}
