.border {
  @each $color in $border-colors {
    &-#{nth($color, 1)}{
      border-color: nth($color, 2);
    }
  }
}

.border {
  @for $i from 1 through length($sides) {
    &-#{nth($sides, $i)}{
      @each $side in nth($sides-prop, $i){
        border-#{$side}-width: 1px;
        border-#{$side}-style: solid;
      }
    } 
  }
}

.bg {
  @each $bg in $bg-colors {
    &-#{nth($bg, 1)}{
      background-color: nth($bg, 2);
    }
  }
}
@for $i from 1 to 13 {
  .col-#{$i}{
    display: block;
    float: left;
    width: percentage($i / 12);
    position: relative;
  }
}
.justify {
  text-align: justify;
  width: 100%;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
.position {
  @each $position in (relative, static, absolute, fixed){
    &-#{$position}{
      position: $position;
    }
  }
}
.cover {
  @extend .position-absolute;
  @each $side in $sides-common {
    #{$side}: 0; 
  }
}
.cursor-pointer {
  cursor: pointer;
}
.no-select {
  @include user-select(none);
}
