.#{$icomoon-prefix}-user { 
  &:before {
    content: $icon-user;
  }
}
.#{$icomoon-prefix}-close { 
  &:before {
    content: $icon-close;
  }
}
.#{$icomoon-prefix}-image { 
  &:before {
    content: $icon-image;
  }
}
.#{$icomoon-prefix}-trash { 
  &:before {
    content: $icon-trash;
  }
}
.#{$icomoon-prefix}-sign-out { 
  &:before {
    content: $icon-sign-out;
  }
}
.#{$icomoon-prefix}-paper-plane { 
  &:before {
    content: $icon-paper-plane;
  }
}
.#{$icomoon-prefix}-check { 
  &:before {
    content: $icon-check;
  }
}
.#{$icomoon-prefix}-bitcoin-ticket { 
  &:before {
    content: $icon-bitcoin-ticket;
  }
}

