!!!
%html(ng-app="app")
  %head
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script(type="text/javascript")
      window.anonimusUser = #{!user_signed_in?}
  %body(ng-app="app" ng-controller="mainCtrl")
    .main
      .header
        .tbl
          .tbl-cell.align-middle.cell-6.gtr-hor
          .tbl-cell.align-middle.text-right.cell-6.gtr-hor
            %span(ng-if="!user")
              .smile.align-middle.gtr-l-xs
                %a(ng-href='/#/sign_in') {{::"js.users.sign_in" | translate}}
              .smile /
              .smile.align-middle.gtr-l-xs
                %a(ng-href='/#/sign_up') {{::"js.users.sign_up" | translate}}
            %span(ng-if="user")
              .smile.align-middle.gtr-hor-xs
                {{user.email}}
              .smile.align-middle
                %a(href ng-click="logout()")=icon :sign_out
      .tbl
        .sidebar
          .clearfix.text-center.text-lg.head-lg.gtr-t
            %a.link-base(href='/#/')= icon :bitcoin_ticket
          .gtr-hor.gtr-ver.font-light
            %a.sidebar-link(href='/#my_tickets') My Tickets
            %a.sidebar-link(href='/#settings') Settings
        .tbl-cell(ng-class="alignMiddle ? 'align-middle' : 'align-top'" style="overflow: auto;")
          .tbl(ng-show="$parent.waiting")
            .spinner
              .bounce-1
              .bounce-2
              .bounce-3
          %span.content(ng-show="!$parent.waiting")
            .gtr-hor.gtr-ver(ng-view)
